<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <input type="text" id="answer">
    </div>

    <button onclick="pushanswer()"> 提交答案</button>
    <button onclick="seaechanswer()"> 查询答案</button>
    <div id="answerText"></div>
</body>
<script>
    var xmlhttp = new XMLHttpRequest();

    function pushanswer() {
        var answer1 = document.getElementById('answer').value;
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert(xmlhttp.responseText)
            }
        };
        xmlhttp.open('POST', '/checkanswer', true);
        xmlhttp.setRequestHeader('content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send('answer=' + answer1)
    }

    function seaechanswer() {
        var answer1 = document.getElementById('answer').value;
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById('answerText').innerHTML = xmlhttp.responseText
            }
        };
        xmlhttp.open('GET', '/lookanswer', true);

        xmlhttp.send()
    }
</script>

</html>